<div class="row">
  
  <div class="col-md-3">
    <table>
      <thead>
        <tr>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <% if !user.last_request_at.nil?  %>
              <% if user.online? %>
                <td>
                  <% if current_user.name != user.name %>
                    <%= link_to "#{user.name}", "#", class: "start-conversation","data-sid" => current_user.id, "data-rip" => user.id %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="col-md-9">
  
  </div>

</div>
